<div class="site-section">
    <div class="row" >
        <div class="d-flex team-vs">
          <span class="score">{{match.scoreOne}} -{{match.scoreTwo}} </span>
    
          <div class="team-1 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
              <h3><span>{{match.teamOne}}</span></h3>
             
            </div>
          </div>
          <div class="team-2 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
              <h3> <span>{{match.teamTwo}}</span></h3>
             
            </div>
          </div>
        </div>
      </div>
</div>