<div class="site-section">
    <div class="post-entry">
        <a href="#">
          <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </a>
        <div class="caption">
          <div class="caption-inner">
            <h3 class="mb-3">{{player.name}}</h3>
            <div class="author d-flex align-items-center">
              
              <div class="text">
                <h4>{{player.number}}</h4>
                <span>{{player.poste}}</span>
                <h4>{{player.age}}</h4>
    
              </div>
            </div>
          </div>
        </div> 
      </div>
</div>