<table class="table table-bordered">
    <thead>
      <tr style="color: #fff;">
        <th scope="col">Id</th>

        <th scope="col">Score 1</th>
        <th scope="col">Score 2</th>
        <th scope="col">Team 1</th>
        <th scope="col">Team 2</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let m of matchs" style="color: #fff;"> 
        <td>{{m._id}}</td>
        <td>{{m.scoreOne}}</td>
        <td>{{m.scoreTwo}}</td>
        <td>{{m.teamOne}}</td>
        <td>{{m.teamTwo}}</td>

        <td>
          <button type="button" class="btn btn-primary" (click)='displayMatch(m._id)'>Display</button>
          <button type="button" class="btn btn-info" (click)='editMatch(m._id)'>Edit</button>
          <button type="button" class="btn btn-danger"(click)='deleteMatch(m._id)'>Delete</button>


        </td>


      </tr>
     
     
    </tbody>
  </table>